* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

#background{
    width: 1440px;
    height: auto;
}

header{
    background-color: white;
}
/********* link **************/
nav ul li a:link,
nav ul li a:visited{
    color: #4A1D1F;
}

nav ul li a:hover,
nav ul li a:active{
    color: orange;
}

button:hover{
    background-color: orange;
}
/*****************************/

h1{
    color: #4A1D1F;
    text-align: right;
    font-weight: 500;
    font-size: 30px;
}

header img{
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.header-wrap{
    display: flex;
    justify-content:center; 
    align-items:center;
}
.header-list{
    display: grid;
    grid-template-columns: 228px 48px 46px 103px 46px 72px 46px 89px 95px 251px 64px 61px 51px;
    grid-template-rows: 75px;
    place-content: center;
    place-items: center;
}

.head-item-1{/*home*/
    grid-row: 1;
    grid-column: 2;
}

.head-item-2{/*categories*/
    grid-row: 1;
    grid-column: 4;
}

.head-item-3{/*about us*/
grid-row: 1;
grid-column: 6;
}

.head-item-4{/*contact us*/
    grid-row: 1;
    grid-column: 8;
}
/****************search box***************/
.head-item-5{
    grid-row: 1;
    grid-column: 10;
}

.form-box{
    display: flex;
    border: 2px solid #4A1D1F;
    width: 251px;
    height: 45px;
    
}

.search-input{
    border: none;
    width: 100%;
}

input{
    padding-left: 17px;
}

.form-button{
    background-color: #4A1D1F;
    border: none;
}

.form-box img{
    width: 19px;
    height: 19px;
    margin: 13px;
}
/***************************/
.head-item-6{/*user icon */
    grid-row: 1;
    grid-column: 11;
    justify-self: flex-end;
}

.head-item-6 > img{
    width: 34px;
    padding: 34px;
}
.head-item-7{/*cart icon*/
    grid-row: 1;
    grid-column: 12;
    justify-self: flex-end;
}

.head-item-7{
    width: 29px;
    height: 28px;
}

.top-title{
    width: 530px;
    height: 132px;
    font-size: 44px;
    font-weight: bold;
    color: #4A1D1F;
}

.top-p{
    color: #4A1D1F;
    width: 510px;
    height: 108px;
    font-size: 24px;
    font-weight: 400;
    margin: 45px 0;
}

.top-wrap{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.main-cake-bg {
    background: radial-gradient(#FBEDCD 40%, white 70%);
    width: 1000px;
    height: 1019px;
    position: absolute;
    top: 0px;
    right: 0;
    background-size: 1000px 1019px;
    z-index: -1;
}

.main-cake{
    width: 600px;
}

.brown-btn{
    width: 166px;
    height: 50px;
    border-radius: 4px;
    color: #FBEDCD;
    background-color: #4A1D1F;
    border: none;
    margin-right: 15px;
}

.white-btn{
    width: 166px;
    height: 50px;
    border-radius: 4px;
    color: #4A1D1F;
    background-color: transparent;;
    border: solid 1px;
}

.top-white-bar{
    width: 1000px;
    height: 201px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 105px;
    position: absolute;
    top: 480px;
    left: 590px;
}

/******* arrow *********/
.left-arrow img{
    width: 100%;
    height: 10px;
    object-fit: scale-down;
}

.right-arrow img{
    width: 100%;
    height: 5px;
    object-fit: scale-down;
    margin: 5px;
}

.top-bar-flex p{
    padding-left: 5px;
    padding-right: 5px;
}
/***************************/
.bar-grid{
    display: grid;
    display: grid;
    grid-template-columns: 125px 230px 230px 124px;
    grid-template-rows: 201px;
    gap: 10px;
    margin-left: 20px;
}

.top-bar-flex{
    display: flex;
    grid-row: 1;
    grid-column: 1;
    place-items: center; 
}

.bar-imgs-1{
    grid-row: 1;
    grid-column: 2;
    margin-top: 20px;
}

.bar-imgs-2{
    grid-row: 1;
    grid-column: 3;
    margin-top: 20px;
}

.bar-imgs-3{
    grid-row: 1;
    grid-column: 4;
    margin-top: 20px;
}

.small{
    font-size: small;
}

.top-bar-flex p{
    font-size: 18px;
}
/******************************/

.try{
    display: flex;
    margin-top: 8rem;
    justify-content: center;
    color: #4A1D1F;
}

.try h2{
    font-size: 48px;
    line-height: 128px;
}

.try-t{
    width: 484px;
    height: 128px;
}

.try-right{
    width: 673px;
    height: 99px;
    font-size: 22px;
    padding: 6px 0;
    margin: 14.5px;
}

.try-line{
    margin: 0 56px;
    color: #4A1D1F;
}

/************ best selling cakes ***************/
.flex-star{
    display: flex;
    width: 231px;
    height: 26px;
    justify-content: space-between;
}

.cake-container{
    text-align: center;
    width: 231px;
    margin-left: 72px;
}

.cake-container h3{
    color: black;
    font-size: 22px;
    font-weight: normal;
}
.small-rate{
    font-size: 16px;
    margin-top: auto;
    color: #707070;
}

.best-cake {
    width: 231px;
    height: 328px;
    object-fit: cover;
    border-radius: 33px;
    border: none;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

.cake-wrap{
    display: flex;
    gap: 0 35.5px;
    margin-top: 108px;
    position: absolute;
    left: 85px;
}

.view-btn button{
    height: 50px;
    width: 130px;
    border-radius: 4px;
    border: solid 1px;
    background-color: transparent;
}

.view-btn button a:link,
.view-btn button a:visited{
    color: #4A1D1F;
}

.view-btn:hover{
    background-color: orange;
}

.view-btn{
    position: relative;
    width: 130px;
    top: 570px;
    left: calc(50% - 65px);/* to place center half width - half buttun size*/
}

.view-btn img{
    height: 10px;
    width: 29px;
    padding-left: 5px;
}


/********** Aurora's part ************/

#foto1 {
    float: left;
    padding: 5%;
}

#foto23 {
    padding: 5%;
}

.container2 {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    padding: 12px;
}

#h21 {
    padding-top: 3%;
    padding-bottom: 0%;
    font-size: 35px;
    color: #4A1D1F;
}

.contain1 {
    padding-right: 5%;
    font-size: 20px;
    color: #272727;
}

.container3 {
    margin-top: 40%;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    padding: 12px;
    margin-left: 7%;
}

#h22 {
    padding-top: 3%;
    padding-bottom: 0%;
    font-size: 35px;
    color: #4A1D1F;
}

.contain2 {
    padding-left: 5%;
    font-size: 20px;
    color: #272727;
}

section {
    display: flex;
}

.orders {
    background-color: antiquewhite;
    text-align: center;
    padding: 2%;
    padding-bottom: 4%;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.contact-button {
    background-color: #4A1D1F;
    /* Colore di sfondo */
    color: #FFFFFF;
    /* Colore del testo */
    border: none;
    /* Nessun bordo */
    border-radius: 5px;
    /* Angoli arrotondati */
    padding: 10px 20px;
    /* Spaziatura interna (verticale e orizzontale) */
    font-size: 16px;
    /* Dimensione del testo */
    cursor: pointer;
    /* Cambio del cursore quando si passa sopra */
    text-align: center;
    /* Allineamento del testo */
    text-decoration: none;
    /* Nessuna sottolineatura */
    display: inline-block;
    /* Permette il dimensionamento automatico del bottone */
    transition: background-color 0.3s;
    /* Transizione del colore di sfondo */
}

.contact-button:hover {
    background-color: #272727;
    /* Colore di sfondo al passaggio del mouse */
}

#recensioni {
    text-align: center;
    margin-top: 100px;
    color: #272727;
}

#recensioni p {
    font-size: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Stili per le didascalie */
.caption {
    font-family: Arial, sans-serif;
    /* Font per le didascalie */
    font-size: 14px;
    /* Dimensione del testo delle didascalie */
    color: #333333;
    /* Colore del testo delle didascalie */
}

#c1 {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 24px;
}

footer {
    background-color: antiquewhite;
    margin-top: 5%;
}

.con-foot {
    margin: 0 auto;
    padding-top: 3%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#other-options {
    display: flex;
    padding: 10px;
    margin-right: 60px;
    padding-top: 25px;
}

#home {
    display: inline-block;
    margin-left: 20px;
    padding-top: 25px;
}

footer a{
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer li {
    padding-left: 70px;
    font-size: 20px;
}

footer hr {
    border: none;
    height: 2px;
    background-color: rgb(245, 199, 139);
    margin: 20px 0;
}

footer nav {
    display: flex;
    justify-content: center;
    /* Allinea tutto il contenuto orizzontalmente al centro */
    padding: 20px;
    /* Spazio interno opzionale */
}

.nav-social {
    display: flex;
    list-style-type: none;
    padding-bottom: 10%;
}

.nav-item {
    margin: 0 15px;
    /* Spazio orizzontale tra gli elementi */
}

/* Aggiunge spazio tra il paragrafo e le icone */
.paragraph-item {
    flex-grow: 1;
    /* Rende questo elemento flessibile per occupare lo spazio rimanente */
    display: flex;
    padding-right: 15%;
    margin-left: 0;
    justify-content: center;
    /* Allinea il paragrafo al centro orizzontalmente */
}